.portfolio {
    margin: 0;
    padding: 101px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.portfolio__title {
    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
}

.portfolio__list {
    margin: 50px 0 0;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
}

.portfolio__link {
    margin: 0 0 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #E8E8E8;

    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
}

.portfolio__link:last-child {
    padding: 0;
    border: 0;
}

.portfolio__project-name {
    margin: 0;
}

.portfolio__list-element {
    margin: 0;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 90px 0 0;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 60px;
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        padding: 69px 0 0;
    }

    .portfolio__list {
        margin: 40px 0 0;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }
}

