.header {
    padding: 36px 70px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_authorized_velvet {
    background: #F3C1F8;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 36px 20px;
    }
}
