.form {
    margin: 0 auto;
    padding: 74px 0 70px;
    max-width: 396px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__logo {
    margin: 0 0 35px;
    width: 38px;
    height: 38px;
    display: block;
}

.form__container {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__title {
    margin: 40px 0 35px;
    font-family: 'Inter', 'Serif', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.form__input-area {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.form__label {
    padding: 10px 0 0;
    font-size: 10px;
    line-height: 1.2;
    color: #a0a0a0;
}

.form__label:last-of-type {
    margin-bottom: auto;
}

.form__input {
    margin: 0 0 10px;
    padding: 10px 0;
    width: 100%;
    border: none;
    outline: 1px solid rgba(43, 224, 128, 0);
    transition: outline 400ms;
    background: transparent;
    border-bottom: 1px solid #E8E8E8;
    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.form__input:last-of-type {
    margin: 0;
}

.form__input:active {
    background-color: transparent;
}

.form__input:focus {
    background-color: transparent;
    border-bottom: 1px solid #000000;
}

.form__input_error {
    color: #FF4062;
}

.form__error-message {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FF4062;
}

.form__button {
    margin: 135px 0 0;
    padding: 13px 124px;
    max-width: 396px;
    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background: #000000;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(124px, max-content));
}

.form__button_disabled {
    background: #F8F8F8;
    color: #000000;
    opacity: .8;
    cursor: unset;
}

.form__caption-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.form__caption {
    margin: 20px 0 0;
    align-self: center;
    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

.form__caption-link {
    text-decoration: none;
    font-family: 'Inter', 'Serif', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 400px) {
    .form {
        margin: 0 auto;
        padding: 55px 0 0;
    }

    .form__logo {
        margin: 0 0 50px;
    }

    .form__container {
        max-width: 260px;
        align-items: center;
    }

    .form__input-area {
        margin: 46px 0 0;
    }

    .form__button {
        margin: 215px 0 0;
        padding: 15px 68px;
        max-width: 260px;
        font-size: 12px;
        line-height: 15px;
    }

    .form__caption {
        font-size: 12px;
        line-height: 15px;
    }

    .form__caption-link {
        font-size: 12px;
        line-height: 15px;
    }
}
